<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>Games List</h2>

    <table>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Publisher</th>
        <th>Release</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Fortnite</td>
        <td>PC</td>
        <td>Battle Royale</td>
        <td>Teen</td>
        <td>Epic Games</td>
        <td>July 21, 2017</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Battlefield</td>
        <td>PC</td>
        <td>Shooter</td>
        <td>Mature</td>
        <td>EA</td>
        <td>September 10, 2002</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>League of Legends</td>
        <td>PC</td>
        <td>MOBA</td>
        <td>Teen</td>
        <td>Riot Games</td>
        <td>October 27, 2009</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Call of Duty</td>
        <td>Xbox</td>
        <td>Shooter</td>
        <td>Mature</td>
        <td>Activision</td>
        <td>October 29, 2003</td>
        <td>Active</td>
      </tr>
    </table>
  </body>
</html>
